[Desktop Entry]
Encoding=UTF-8
Name=imgSeek
Comment=Photo collection manager with content-based search.
Comment[pl]=Zarządca oraz przeglądarka kolekcji zdjęć.
Exec=imgSeek %F
Icon=imgseek.png
Terminal=false
Type=Application
Categories=QT;Graphics;X-Viewer;
# vi: encoding=utf-8
