[Desktop Entry]
Name=imgSeek
Comment=Photo collection manager with content-based search.
Comment[pl]=Zarządca oraz przeglądarka kolekcji zdjęć.
Exec=imgSeek %F
Icon=imgseek
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;
# vi: encoding=utf-8
